@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
	margin: 0;
}

#app {
	padding-top: 64px; // Nice - 5
	position: relative;
	min-height: calc(100vh - 64px);
}

.tab {
	height: 25px;
	padding: 5px;
	background-color: white;
	border: black solid thin;
	border-left: white;
	border-top: white;
	outline: none;
}

.tab-selected {
	border-bottom: white;
}

* {
	font-family: "Material Design Icons", Inter, sans-serif;
}

pre,
pre * {
	font-family: "Courier New", Courier, monospace;
}

h2 {
	margin: 2px;
}

h3 {
	margin: 4px;
}

h3.quirk {
	margin: 0;
	font-weight: normal;
}

h4 {
	margin: 2px;
}
